*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
* {
  border: none;
}
img {
  display: block;
  max-width: 100%;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: "Andale Mono", monospace;
}
menu,
ol,
ul {
  padding-left: 0;
}
article ol,
article ul {
  list-style-position: inside;
}

body {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.synth {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #171920;
  border: 0.5px solid #616a77;
  min-width: 70rem;
  min-height: 34.5rem;
  width: 70rem;
  height: 34.5rem;
  border-radius: 1.1rem;
  user-select: none;
}

.instrument-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 34rem;
}

.oscilloscope {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 0rem;
}

.lamp {
  margin-bottom: 11rem;
  margin-left: 0.5rem;
  margin-right: 30rem;
}

.keyboard {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.key {
  border: none;
  margin: 0.1rem;
  width: 4rem;
  height: 12rem;
  border-radius: 0.4rem;
  background-color: #8a96a8;
  user-select: none;
}

.key:hover {
  background-color: #9ba7b9;
}

.key:active {
  background-color: #778191;
}

.keyActive {
  background-color: #778191;
}

.ADSR-controls {
  border-left: 0.5px solid #616a77;
  border-right: 0.5px solid #616a77;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.gain-delay-controls {
  border-left: 0.5px solid #616a77;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.low-pass-filter {
    border-left: 0.5px solid #616a77;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.7rem;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.ADSR-label, .gain-delay-label, .low-pass-filter-label {
  user-select: none;
  color: rgba(214, 229, 255, 0.6);
  display: block;
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 1.05rem;
  font-weight: bolder;
}

.wave-form-buttons {
  border-left: 0.5px solid #616a77;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 13.7rem;
  flex-wrap: wrap;
}

.wave-form-button {
  user-select: none;
  font-family: "Andale Mono", monospace;
  border-radius: 0.6rem;
  font-size: 1.05rem;
  font-weight: bolder;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.6rem;
  color: #8a96a880;
  background-color: rgba(214, 229, 255, 0.07);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
  border: 1px solid #2b2d3500;
  filter: none;
}

.wave-form-button-active {
  background-color: rgba(214, 229, 255, 1);
  color: #0b0e12;
  filter: drop-shadow(0 0 11px rgba(214, 229, 255, 0.23));
  border: 1px solid #2b2d35;
}

.parameter-display {
  text-align: center;
  padding-top: 0.1rem;
  width: 3.3rem;
  height: 1.2rem;
  background-color: black;
  border: 0.5px solid #616a77;
  margin-right: 71rem;
  border-radius: 0.5rem;
  position: absolute;
  margin-bottom: 14rem;
  color: rgba(214, 229, 255, 0.9);
  text-shadow: 0px 0px 12px rgba(214, 229, 255, 0.9);
}

@supports (-webkit-hyphens:none) {
  .wave-form-button-active {
      filter: none;
    }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .synth {
    -webkit-tap-highlight-color: transparent;
    min-width: none;
    min-height: none;
    width: 99vw;
    height: 99vh;
    overflow: hidden;
  }

  .keyboard {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .key {
    width: 5.7rem;
    height: 17rem;
  }

  .ADSR-controls, .gain-delay-controls {
    width: 15.5rem;
  }

  .wave-form-buttons {
    width:  14.5rem;
  }

  .low-pass-filter {
    width: 9rem;
  }

  .oscilloscope {
    margin-left: 4rem;
  }

  .lamp {
    margin-bottom: 11rem;
    margin-left: 2rem;
    margin-right: 25rem;
  }
}