*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
* {
  border: none;
}
img {
  display: block;
  max-width: 100%;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: "Andale Mono", monospace;
}
menu,
ol,
ul {
  padding-left: 0;
}
article ol,
article ul {
  list-style-position: inside;
}

body {
  background: #171920;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #616a77;
  min-width: 70rem;
  min-height: 30rem;
  width: 70rem;
  height: 30rem;
  border-radius: 1.5rem;
}

.instrument-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.oscilloscope {
  margin-left: 5.5rem;
}

.keyboard {
  margin-top: 4rem;
}

.key {
  border: none;
  margin: 0.1rem;
  width: 4rem;
  height: 12rem;
  border-radius: 0.4rem;
  background-color: #8a96a8;
  user-select: none;
}

.key:hover {
  background-color: #9ba7b9;
}

.key:active {
  background-color: #778191;
}

.keyActive {
  background-color: #778191;
}